.navbar {
    color: #6b7385;
    padding: 30px 20px;
    background-color: #fff;
    box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
    position: fixed;
    top: 0;
    width: 90%;
    border-radius: 6px;
    z-index: 11;
}

.navbar-container {
    width: 100%;
}

.navbaritems {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navbar-logo {
    width: 50%;
}

.navbar-logo img {
    width: 130px;
}

.navbar-items {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.navbar-items li a {
    color: #000;
    transition: .5s;
}

.navbar-items li a:hover {
    color: #5071F1;
}

.navbar-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown-submenu {
    background-color: #fff;
    padding: 10px 60px 10px 20px;
    position: absolute;
    font-size: 16px;
    box-shadow: 0 15px 34px 0 rgba(175, 181, 204, 0.32);
    display: flex;
    flex-direction: column;
    gap: 6px;
    transition: .4s;
    opacity: 0;
}

.dropdown-menu {
    font-size: 14px;
    transition: 1s;
}

.dropdown-menu img {
    width: 24px;
}

.dropdown-menu:hover .dropdown-submenu {
    opacity: 1;
}

.dropdown-submenu img {
    width: 26px;
}

.nav-btn-gradient {
    background: linear-gradient(90deg, #2f57ef, #b966e7);
    padding: 0 22px;
    line-height: 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
}

.navbar .btn-outline {
    border-radius: 5px;
    border: 2px solid #e6e3f1;
    padding: 0 22px;
    line-height: 40px;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.95);
        z-index: 10;
    }

    .navbar {
        display: flex;
        transition: left 2s ease;
    }

    .navbar.active {
        width: 40%;
        position: fixed;
        height: 100vh;
        border-radius: 0;
    }

    .navbaritems {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    .navbar-items {
        flex-direction: column;
        width: 100%;
    }

    .navbar-items li {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 20px;
        width: 100%;
    }

    .navbar-toggle {
        display: block;
    }

    .navbaritems.active {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
        opacity: 1;
        visibility: visible;
        position: relative;
    }

    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-end {
        flex-direction: column;
        align-items: flex-start !important;
    }
}
@media screen and (max-width: 768px) {
    .navbar.active {
        width: 55%;
    }
}
@media screen and (max-width: 560px) {
    .navbar.active {
        width: 80%;
    }
}