.container-x{
  padding-left: 80px;
  padding-right: 80px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #6b7385;
}
a{
  color: #6b7385;
}
.heading{
  color: #192335;
}
.section-gap {
  padding: 120px 0;
}
@media screen and (max-width:1024px) {
  .container-x{
    padding-left: 20px;
    padding-right: 20px;
  }
}